@{
    ViewData["Title"] = "Account Page";
}

<div>
    <div class="container auth-container">
        <form>
            <h3 class="authform-header">Авторизация</h3>
            <div class="padding-8080">
                <label class="col-sm-2 col-form-label text-secondary">Логин</label>
                <div class="position-relative">
                    <i  class="bi bi-person-circle position-absolute text-secondary" 
                        style="font-size: 24px; padding: 2px 7px 2px 7px;"></i>
                    <input class="form-control" style="padding-left: 35px" required type="text" placeholder="Введите логин" />
                </div>
            </div>
            <div class="padding-8080">
                <label class="col-sm-2 col-form-label text-secondary">Пароль</label>
                <div class="position-relative" >
                    <i  class="bi bi-shield-lock position-absolute text-secondary text-center" 
                        style="font-size: 24px; padding: 2px 7px 2px 7px;"></i>
                    <input class="form-control" style="padding-left: 35px" required type="password" placeholder="Введите пароль" />
                </div>
            </div>
            <div class="padding-8080">
                <div class="alert alert-success shadow d-flex justify-content-center align-items-center" style="padding: 4px;" role="alert">
                    <i class="bi bi-emoji-laughing" style="margin-right: 8px; font-size: 24px;"></i>
                    <div>
                        Вы уже авторизованы
                    </div>
                </div>
                <div class="alert alert-danger shadow d-flex justify-content-center align-items-center" style="padding: 4px;" role="alert">
                    <i class="bi bi-cloud-lightning-rain" style="margin-right: 8px; font-size: 24px;"></i>
                    <div>
                        Ошибка авторизации
                    </div>
                </div>
                <button class="form-control">Выйти</button>
                <button class="form-control" type="submit">Войти</button>
            </div>
        </form>
    </div>
</div>
