@model dotnet_mvc.Models.HelpModels.AccountModel

@{
    ViewData["Title"] = "Профиль";
}

<h2 class="Inter-Light">Личный кабинет: @Model.user.UserName</h2>

<div class="block-container" style="margin-top: 15px;">
    <div class="d-flex align-items-start">
        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <button class="nav-link active" id="v-pills-personal-data-tab" data-bs-toggle="pill" 
                data-bs-target="#v-pills-personal-data" type="button" role="tab" href="#v-pills-personal-data"
                aria-controls="v-pills-personal-data" aria-selected="true">
                Личные данные
            </button>
            <button class="nav-link" id="v-pills-orders-tab" data-bs-toggle="pill" 
                data-bs-target="#v-pills-orders" type="button" role="tab" href="#v-pills-orders"
                aria-controls="v-pills-orders" aria-selected="true">
                Заказы
            </button>
            <button class="nav-link" id="v-pills-security-tab" data-bs-toggle="pill" 
                data-bs-target="#v-pills-security" type="button" role="tab" href="#v-pills-security"
                aria-controls="v-pills-security" aria-selected="true">
                Безопасность
            </button>
        </div>
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-personal-data" role="tabpanel" 
                aria-labelledby="v-pills-personal-data-tab">
                ...
            </div>
            <div class="tab-pane fade" id="v-pills-orders" role="tabpanel" 
                aria-labelledby="v-pills-orders-tab">
                ...
            </div>
            <div class="tab-pane fade" id="v-pills-security" role="tabpanel" 
                aria-labelledby="v-pills-security-tab">
                ...
            </div>
        </div>
    </div>
</div>