
@model dotnet_mvc.Models.HelpModels.ResetPasswordModel;

@{
    ViewData["Title"] = "Смена пароль";
}

<h4>Смена пароля</h4>
<hr/>
<div>
    <div class="container auth-container">
        <form method="post" asp-controller="Account" asp-action="ResetPassword" 
            class="row g-3" style="margin-left: 15%; margin-right: 15%;">
            <div class="col-md-6">
                <label for="oldPassword" class="form-label">Старый пароль</label>
                <input type="password" asp-for="oldPassword" required
                    class="form-control" id="oldPassword">
            </div>
            <div class="col-md-6"></div>

            <div class="col-md-6">
                <label for="newPassword" class="form-label">Новый пароль</label>
                <input type="password" asp-for="newPassword" required
                    class="form-control" id="newPassword">
            </div>

            <div class="col-md-6">
                <label for="repeatNewPassword" class="form-label">Повторите пароль</label>
                <input type="password" asp-for="repeatNewPassword" required
                    class="form-control" id="repeatNewPassword">
            </div>

            <div class="col-12">
                <button type="submit" class="btn btn-primary">Сменить пароль</button>
            </div>
        </form>
    </div>
</div>