@model dotnet_mvc.Models.DataModels.ProductModel

@{
    ViewData["Title"] = "Product page";
}

<div class="text-center">
    <!--<div class="block-container flex-space-between">
        <div class="flex-left">
            <button type="button" class="btn btn-outline-primary">
                <i class="bi bi-folder-plus"></i>
                Добавить товар
            </button>
        </div>
        <div class="flex-right">
            <button type="button" class="btn btn-outline-primary">
                <i class="bi bi-basket"></i>
                Корзина
            </button>
        </div>
    </div>-->

    <div class="block-container row">
        <div class="flex-left">
            <h2 class="Inter-SemiBold">@Html.DisplayFor(model => model.Name)</h2>
        </div>
        <div class="row flex-space-between">
            <div class="col rect-img-container flex-left">
                <img src="@Url.Content("~/images/")@Html.DisplayFor(model => model.ImageUrl)" class="rect-img" alt="...">
            </div>
            <div class="col" style="position: relative;">
                <h3 align="left">Описание:</h3>
                <p align="left" style="margin-left: 10px;">
                    @Html.DisplayFor(model => model.Description)
                </p>
                <h3 align="left">Характеристики:</h3>
                <ul style="text-align: left;">
                    <div class="alert alert-secondary" role="alert">
                        Настройка характеристик товара будет произведена позже.
                    </div>
                    <!--<li class="flex-space-between">
                        <hr/>
                        <div style="width: 50%;" class="flex-left">
                            <strong>Вес (кг):</strong>
                        </div>
                        <div class="flex-left">
                            0,99
                        </div>
                    </li>
                    <li class="flex-space-between">
                        <div style="width: 50%" class="flex-left">
                            <strong>Материал:</strong>
                        </div>
                        <div class="flex-left">
                            Кожа
                        </div>
                    </li>-->
                </ul>

                <div class="flex-center">
                    <a class="btn btn-primary btn-lg btn-block" style="text-align: center; width: 80%; position: absolute; bottom: 5%;">В корзину</a>
                </div>
            </div>
        </div>
        
    </div> 
   
</div>
