@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="block-container flex-space-between">
        <div class="flex-left">
            <a asp-controller="Product" asp-action="New" class="btn btn-outline-primary">
                <i class="bi bi-folder-plus"></i>
                Добавить товар
            </a>
        </div>
        <div class="flex-right">
            <a asp-controller="Account" asp-action="Basket" class="btn btn-outline-primary">
                <i class="bi bi-basket"></i>
                Корзина
            </a>
        </div>
    </div>

    <div class="block-container row">
        <div class="col-md-3 col-sm-4">
            <div class="card in-card">
                <img src="~/images/tovar_example.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                        <span class="text-strip">
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                        </span>
                    </p>
                    <div class="flex-space-between">
                        <a asp-controller="Product" asp-action="Info" asp-route-id="12" class="btn btn-primary">Открыть</a>
                        <a asp-controller="Product" asp-action="Info" asp-route-id="12" class="btn btn-primary">В корзину</a>
                    </div>
                </div>
            </div>
        </div>
    </div> 
   
</div>
